/* root */
#root {
  background-color: azure;
}

.meat {
  width: 85%;
  margin: 0 auto;
}

/* header */
#header-disp {
  background-color: blanchedalmond;
  /* background-image: url('images/hello.jpg'); */
  height: 200px;
  overflow-wrap: break-word;
    overflow: hidden;
    padding:0;
    position: relative;
}

.header-box {
  transform: scale(1.2, 1);
    color: coral;
    letter-spacing: 1px;
    font-size: 78px;
    line-height: 0.5;
    font-family: 'Xanh Mono', monospace;
    font-style: italic;
    margin: 0;
    padding: 50px;
    text-shadow: 2px 2px chocolate;
    text-align: center;
}

.forest {
  position: absolute;
  font-size: 7rem;
  display: flex;
  width: 100%;
  justify-content: center;
  color: peru;
  font-family: 'Lato';
  transform: skew(20deg,2deg);
  text-shadow: -15px 20px 1px maroon;
  bottom: 40px;
}

.hello-i-am {
  
    font-size: 70px;
    
    line-height: 0.7;
    
    transform: scale(1.2, 1.5);
    color: peru;
}

/* navbar */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links {
  padding: 0 20px;
  background-color: azure;
  text-decoration: none;
    font-size: 12px;
    font-variant: all-petite-caps;
  padding: 0px 20px;
  border-bottom: 3px inset peru;
}

.nav-links:hover {
  border: 3px inset peru;
  border-bottom: none;
}

.nav-links > h4 {
  text-decoration: none;
  color: rgb(44, 39, 39);
}

/* about */
.about-p {
  font-family: 'Lora', serif;
  margin: 30px;
  text-indent: 25px;
}

.blurb {
  font-style: italic;
  text-indent: 25px;
  margin: 50px;
  margin-top: 0;
}

/* projects */
.display-img {
  height: 250px;
  width: 250px;
}

.project-view {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0.5;
    padding: 30px;
    border: 10px groove mintcream;
    justify-content: space-around;
    color: white;
    background-color: snow;
}

.proj-info {
  padding: 5px;
    width: 55%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darksalmon;
}

.proj-info > article {
  font-weight: 700;
    font-size: 2vw;
    border: 2px solid floralwhite;
    border-radius: 15px;
    padding: 20px;
}

.proj-links {
  display: flex;
  font-size: .5em;
  margin-top: 15px;
  
}

.proj-links a {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  color: darkslateblue;
  margin: 0 30px 15px 0;
  text-decoration: none;
}

.proj-abst {
  font-size: .7em;
  margin: 20px 0;
}

.proj-abst > p {
  font-weight: 100;
  margin: 0 0 20px 0;
  font-size: 1rem;
  text-decoration: none;
}

.proj-abst > div {
  display: inline-block;
  margin-right: 30px;
}

.proj-abst > div > p {
  font-size: .9em;
  margin: 0;

}

.proj-abst > div > span {
  font-weight: 200;
}

.proj-buttons {
  padding: 3px;
  margin: 2px;
  background-color: floralwhite;
  border-color: cadetblue;
  font-style: italic;
  font-family: math, 'lato', sans-serif;
}

@media screen and (max-width: 900px) {
  .project-view {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .proj-info {
    width: 80%;
  }
}


/* Blog */
.single-post {
  display: flex;
    border-top: 5px groove aqua;
    margin-top: 20px;
    position: relative;
}

.single-post > span {
  font-size: 30vmax;
    display: flex;
    align-items: center;
    color: #5f9ea01c;
    font-family: serif;
}

.blog-img {
  height: 250px;
  width: 250px;
  margin-top: 30px;
}

.blog-body {
  padding: 25px;
    font-size: 20px;
    color: darkcyan;
    font-family: 'lora';
}

.blog-body > h2 {
  margin-bottom: 5px;
}

.blog-body > span {
  font-style: italic;
    color: dimgray;
    font-size: .8rem;
}

.blog-body > p {
  font-size: 0.95rem;
    text-indent: 15px;
    color: darkslategrey;
    line-height: 20px;
}


/* resume */

.res-body {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-variant: all-petite-caps;
}

.res-svg {
  height: 100px;
  width: 100px;
}

/* contact */
.contact-container {
  margin: 100px 0;
  border-top: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container h3 {
  color: #917eca;
  font-family: serif;
  font-size: 1.5rem;
  transform: skewX(-0.03turn);
}

/* .target-channel {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.target-channel a {
  font-size: 5vw;
  font-style: italic;
  display: block;
  text-decoration: none;
  font-family: cursive, fantasy;
}

/* .icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.icon-bar svg {
  height: 3em;
  width: 3em;
  padding: 30px;
  border: 3px solid transparent;
  border-radius: 100px;
}

.icon-bar svg:hover {
  height: 3em;
  width: 3em;
  border: 3px solid rgb(126, 27, 109);
  border-radius: 100px;
}

/* footer */
footer {
  height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer > span {
  vertical-align: bottom;
    font-size: .7rem;
    color: cadetblue;
    font-family: 'Lora';
    letter-spacing: 5px;
    padding-top: 10px;
}

/* various */
.sec-title {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}