/* root */
#root {
  background-color: white;
}

.meat {
  width: 50%;
  margin-left: 30px;
}

/* header */
#header-disp {
  background-color: blanchedalmond;
  height: 200px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-box {
  color: coral;
  font-family: "Xanh Mono", monospace;
  font-style: italic;
  font-size: 78px;
  line-height: 0.5;
  letter-spacing: 1px;
  text-shadow: 2px 2px chocolate;
  text-align: center;
  margin: 0;
  padding: 50px;
  transform: scale(1.2, 1);
}

.forest {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  font-family: "Lato";
  font-size: 7rem;
  color: peru;
  text-shadow: -15px 20px 1px maroon;
  width: 100%;
  bottom: 20px;
  left: 20px;
  transform: skew(20deg, 2deg);
  z-index: 1;
}

.hello-i-am {
  font-size: 64px;
  line-height: 0.8;
  letter-spacing: -10px;
  margin-left: -5px;
  transform: scale(1.5, 1.4);
  color: bisque;
  text-shadow: 0 0 3px navajowhite;
}

@media screen and (max-width: 875px) {
  /* #header-disp {
    height: 200px;
  } */
  .forest {
    font-size: 3rem;
    width: 50%;
    margin-left: 40px;
  }
}

/* navbar */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: azure;
  border-bottom: 3px inset peru;
}

.nav-links {
  padding: 0 20px;
  background-color: ghostwhite;
  /* burner b red */
  color: #800808;
  text-decoration: none;
  font-size: 20px;
  font-variant: all-petite-caps;
  border-bottom: 3px inset peru;
  font-family: monospace;
}

.nav-links:hover {
  border: 3px inset peru;
  border-bottom: none;
}

.nav-links > h4 {
  text-decoration: underline;
  margin: 10px;
}

#nav > a:nth-child(1) {
  margin-left: 30px;
  border-left: 3px inset peru;
}

#nav > a:nth-child(3) {
  padding-right: 30px;
  border-right: 3px inset peru;
}

/* about */
/* .meat {
  margin: 0 150px;
} */

.about-p {
  font-family: "Lora", serif;
  margin: 30px 0;
  /* text-indent: 25px; */
}


.blurb {
  font-style: italic;
  text-indent: 25px;
  margin: 50px;
  margin-top: 0;
}

.aboutDivider {
  border: 4px dashed #c694c9;
  border-top: 6px dashed #e7c7e7;
  border-bottom: 3px dashed #371e38;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutDivider > p {
  font-family: sans-serif;
  padding: 10px 0 20px 0;
}

@media screen and (max-width: 1000px) {
  .meat {
    width: 90%;
  }
}
 
@media screen and (max-width: 530px) {
  .blurb {
    font-size: 4vmin;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .about-p > p::after {
    content: \n+ "~";
  }
}

/* projects */
.display-img {
  height: 250px;
  width: 250px;
}

.project-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0.5;
  padding: 30px;
  border: 10px groove mintcream;
  justify-content: space-around;
  color: white;
  background-color: snow;
}

.proj-info {
  padding: 5px;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darksalmon;
  color: snow;
}

.proj-title {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 30px 20px #ad735f;
  color: #ffffff;
}

.proj-info > article {
  font-weight: 700;
  font-size: 2vw;
  border-radius: 15px;
  padding: 20px;
  align-self: normal;
}

.proj-abst {
  margin: 20px 0;
}

.desc-title {
  margin: 0;
  letter-spacing: 3px;
}

.proj-abst > p {
  font-weight: 300;
  margin: 10px 0 20px 0;
  font-size: 0.9rem;
  padding-bottom: 10px;
  border-bottom: 4px #fffafa solid;
  border-bottom-style: double;
  text-decoration: none;
}

.spec-title {
  font-size: 0.7em;
  margin: 25px 0 0 0;
  line-height: 0;
}

.proj-specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.proj-specs > span {
  display: inline-block;
  font-weight: 200;
  font-size: 0.4em;
  margin: 20px 0;
}

.proj-links {
  display: flex;
  font-size: 0.5em;
  margin-top: 15px;
  font-size: 0.6em;
  margin-top: 20px;
  justify-content: left;
}

.proj-links a {
  text-align: center;
  color: #6e6e6e;
  background-color: #f3f3f3;
  font-family: 'Lato';
  font-size: 10px;
  padding: 20px;
  border-radius: 0px;
  border-color: saddlebrown;
  border-left-style: solid;
}

.proj-links a:hover {
  background-color: darkgrey;
  color: #fffafa;
}

.proj-buttons {
  padding: 5px;
  margin: 2px 4px;
  background-color: floralwhite;
  border-color: darksalmon;
  font-family: math, "lato", sans-serif;
  border-top-left-radius: 5px;
}

.proj-buttons:hover {
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .project-view {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .proj-info {
    width: 80%;
  }
  .proj-specs > span {
    font-size: 8px;
    margin: 10px 0;
  }
  .spec-title {
    font-size: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 882px) {
  .proj-title {
    box-shadow: 0 10px 0px #ad735f;
  }
  .display-img {
    height: 200px;
    width: 200px;
  }
  .proj-links a {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  #root {
    width: 103%;
  }
  .spec-title {
    font-size: 8px;
  }
}

/* resume */
.res-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-variant: all-petite-caps;
}

.res-svg {
  height: 100px;
  width: 100px;
}

/* contact */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border-top: 1px solid #c1c1c1;
}

.contact-container h3 {
  color: #917eca;
  font-family: serif;
  font-size: 1.5rem;
  transform: skewX(-0.03turn);
}

.target-channel a {
  display: block;
  font-size: 25px;
  font-family: "lora";
  font-style: italic;
  text-decoration: none;
  margin-top: 10px;
}

.target-channel svg {
  display: flex;
  margin: 15px auto 0px;
  color: gainsboro;
  font-size: 45px;
}

.icon-bar svg {
  height: 3em;
  width: 3em;
  padding: 30px;
  border: 3px solid transparent;
  border-radius: 100px;
}

.icon-bar svg:hover {
  height: 3em;
  width: 3em;
  border: 3px solid rgb(126, 27, 109);
  border-radius: 100px;
}

@media screen and (max-width: 535px) {
  .icon-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  .target-channel a {
    font-size: 15px;
  }
}

/* footer */
footer {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

footer > span {
  font-size: 0.6vmax;
  color: rgb(121, 93, 93);
  padding: 5px;
  text-align: center;
}

footer > span > div {
  font-style: italic;
  display: inline;
}

@media screen and (max-width: 500px) {
  footer > span {
    font-size: 6px;
    padding-top: 15px;
  }
}

/* various */
.sec-title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  margin: 40px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(29, 29, 29);
}
